<legend>Lenguajes de Programación</legend>
<ul>
    <li>PHP: Para muchos extremadamente flexible que sin el debido conocimiento se pueden hacer verdaderos desastres, sin embargo, utilizando un framework adecuado se pueden crear muchisimas y buenas aplicaciones web.</li>
    <li>Javascript</li>
</ul>

<legend>Frameworks</legend>
<ul>
    <li>Symfony2</li>
    <li>AngularJs</li>
    <li>Ionic Framework</li>
    <li>Bootstrap</li>
</ul>

<legend>Librerias</legend>
<ul>
    <li>JQuery</li>
    <li>VisJS</li>
    <li></li>
</ul>

<legend>Herramientas/Tools</legend>
<ul>
    <li>Sublime Text</li>
    <li>GIT</li>
    <li>Consola - Terminal</li>
</ul>

<legend>Entorno de trabajo</legend>
<ul>
    <li>Computadora</li>
    <li>Ultrabook</li>
    <li>Tablet</li>
    <li>Smartphone</li>
</ul>

<legend>Proyectos</legend>
<ul>
    <li>Lighthouse</li>
    <li>Inscripciones de Alumnos y Docentes Online</li>
    <li>Control de Stock</li>
    <li>App Mobile para Preventistas</li>
    <li>Lighthouse</li>
    <li>Lighthouse</li>
    <li>Lighthouse</li>
</ul>

<legend>Idiomas</legend>
<ul>
    <li>Ingles</li>
</ul>

<legend>Investigación</legend>
<ul>
    <li>NodeJS</li>
    <li>React</li>
</ul>

<legend>Intereses Diversos</legend>
<ul>
    <li>PNL: Programación Neurolingüística</li>
    <li>Meditación</li>
    <li></li>
</ul>