<div class="text-center" style="margin: 25px 0;">
    <button class="btn btn-lg btn-danger animated rubberBand" ui-sref="home"><i class="glyphicon glyphicon-th"></i><br>Menu</button>
</div>

<div class="animated fadeInUp bg-danger">
    <div class="container">
        <h1>Entorno de Trabajo</h1>
        <p class="lead"> <strong>Mi Computadora</strong> Esta integrada principalmente por:</p>
        <ul>
            <li>Dos monitores de 21', permite ver el codigo y la aplicación en desarrollo al mismo tiempo!, resulta lo más comodo y que quizas no lo veas util hasta que lo pruebes. </li>
            <li>Una silla reclinable, giratoria y super comoda</li>
            <li>Un Sistema de Audio 5.1 Edifier</li>
        </ul>
         
        <img src="img/enviroment/computer2.jpg" class="picture">
        <img src="img/enviroment/computer.jpg" class="picture">
    </div>
</div>

