<div class="text-center" style="margin: 25px 0;">
    <button class="btn btn-lg btn-danger animated rubberBand" ui-sref="home"><i class="glyphicon glyphicon-th"></i><br>Menu</button>
</div>

<div class="animated fadeInUp bg-danger">
    <div class="container">
        <h1>Frameworks</h1>
        <p class="lead">Grandes y complejas aplicaciones requieren principalmente de código organizado y reutilizable es por ello que he aprendido por mis propios medios:</p>
        <div class="row form-group">
            <img src="img/symfony2.png" alt="symfony2" class="icon pull-left">
            <p class="descripcion lead">Symfony2: Es un Framework de PHP para el desarrollo de aplicaciones web que llamó mi atención, el gran interes por aprenderlo fue principalmente por la cantidad de patrones de diseño que implementa que hacen de las buenas practicas.</p>
        </div>
        <div class="row form-group">
            <img src="img/angularjs.png" alt="angularjs" class="icon pull-left">
            <p class="descripcion lead">AngularJS es un Framework de Javascript, su objetivo es el desarrollo de aplicaciones sigle-page. La necesidad por aprenderlo fue porque me permitió crear formularios e interfaces de usuarios agradables y faciles de usar. Al implementa el patron MVC resulta mucho más facil mantener el codigo, realizar Tests y agregar nuevas funciones a la aplicación web. </p>
        </div>
        <div class="row form-group">
            <img src="img/bootstrap.png" alt="bootstrap" class="icon pull-left">
            <p class="descripcion lead">Bootstrap es un Framework Front-end que contiene una colección de herramientas para el diseño de una aplicaciones web, la ventaja al utilizarlo es que me provee una estructura que se adapta a las diferentes resoluciones, "Responsive Design", además de traer consigo tipografias, iconos y componentes como Modals, Tabs, Navs, etc. </p>
        </div>
        <div class="row form-group">
            <img src="img/ionic.png" alt="ionic" class="icon pull-left">
            <p class="descripcion lead">Ionic Framework me permitió programar aplicaciones nativas para dispositivos mobiles utilizando tecnologias web (HTML5, Javascript y CSS3), incluso poder hacer uso de todos los sensores del smartphone.</p>
        </div>
    </div>
</div>

