<div class="text-center" style="margin: 25px 0;">
    <button class="btn btn-lg btn-danger animated rubberBand" ui-sref="home"><i class="glyphicon glyphicon-th"></i><br>Menu</button>
</div>

<div class="animated fadeInUp bg-danger">
    <div class="container">
        <h1>Frameworks</h1>
        <p class="lead">Grandes y complejas aplicaciones requieren principalmente de código organizado y reutilizable es por ello que he aprendido por mis propios medios:</p>
        <div class="row form-group">
            <img src="img/symfony2.png" alt="symfony2" class="icon pull-left">
            <p class="descripcion">Symfony2: </p>
        </div>
        <div class="row form-group">
            <img src="img/angularjs.png" alt="angularjs" class="icon pull-left">
            <p class="descripcion">AngularJS: </p>
        </div>
        <div class="row form-group">
            <img src="img/bootstrap.png" alt="bootstrap" class="icon pull-left">
            <p class="descripcion">Bootstrap: </p>
        </div>
        <div class="row form-group">
            <img src="img/ionic.png" alt="ionic" class="icon pull-left">
            <p class="descripcion">Ionic Framework: </p>
        </div>
    </div>
</div>

