<div class="titulo animated fadeInUp">{ About: me <span class="beta animated flip">beta</span></div>

<div class="text-center" style="margin-top: 50px;">
    <img src="img/me.jpg" class="pictureProfile animated zoomInLeft">
</div>

<div class="subtitulo text-center animated flipInY">Ricardo Sarapura</div>

<div class="row" style="margin-top: 50px;">
  <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <div id="menu" class="row text-center">
        <div class="col-sm-6 form-group animated fadeInLeft" style="animation-delay: 1s">
            <button class="btn btn-block btn-lg btn-default">Lenguajes de programación</button>
        </div>
        <div class="col-sm-6 form-group animated fadeInRight" style="animation-delay: 1s">
            <button class="btn btn-block btn-lg btn-default">Frameworks</button>
        </div>
        <div class="col-sm-6 form-group animated fadeInLeft" style="animation-delay: 1.3s">
            <button class="btn btn-block btn-lg btn-warning">Librerias</button>
        </div>
        <div class="col-sm-6 form-group animated fadeInRight" style="animation-delay: 1.3s">
            <button class="btn btn-block btn-lg btn-warning">Herramientas</button>
        </div>
        <div class="col-sm-6 form-group animated fadeInLeft" style="animation-delay: 1.6s">
            <button class="btn btn-block btn-lg btn-danger">Entorno de Trabajo</button>
        </div>
        <div class="col-sm-6 form-group animated fadeInRight" style="animation-delay: 1.6s">
            <button class="btn btn-block btn-lg btn-danger">Proyectos</button>
        </div>
        <div class="col-sm-6 form-group animated fadeInLeft" style="animation-delay: 1.8s">
            <button class="btn btn-block btn-lg btn-primary">Idiomas</button>
        </div>
        <div class="col-sm-6 form-group animated fadeInRight" style="animation-delay: 1.8s">
            <button class="btn btn-block btn-lg btn-primary">Investigación</button>
        </div>
    </div>
  </div>
</div>

<footer class="titulo" style="text-align: right">}</footer>
