<div class="row" style="margin-top: 50px;">
  <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <div id="menu" class="row text-center">
        <div class="col-sm-6 form-group animated fadeInLeft" >
            <a class="btn btn-block btn-lg btn-default" ui-sref="languages">Lenguajes de programación</a>
        </div>
        <div class="col-sm-6 form-group animated fadeInRight" >
            <a class="btn btn-block btn-lg btn-default" ui-sref="frameworks">Frameworks</a>
        </div>
        <div class="col-sm-6 form-group animated fadeInLeft" style="animation-delay: 0.3s">
            <a class="btn btn-block btn-lg btn-warning" ui-sref="library">Librerias</a>
        </div>
        <div class="col-sm-6 form-group animated fadeInRight" style="animation-delay: 0.3s">
            <a class="btn btn-block btn-lg btn-warning" ui-sref="tools">Herramientas</a>
        </div>
        <div class="col-sm-6 form-group animated fadeInLeft" style="animation-delay: 0.5s">
            <a class="btn btn-block btn-lg btn-danger" ui-sref="enviroment">Entorno de Trabajo</a>
        </div>
        <div class="col-sm-6 form-group animated fadeInRight" style="animation-delay: 0.5s">
            <a class="btn btn-block btn-lg btn-danger" ui-sref="projects">Proyectos</a>
        </div>
        <div class="col-sm-6 form-group animated fadeInLeft" style="animation-delay: 0.7s">
            <button class="btn btn-block btn-lg btn-primary">Idiomas</button>
        </div>
        <div class="col-sm-6 form-group animated fadeInRight" style="animation-delay: 0.7s">
            <button class="btn btn-block btn-lg btn-primary">Investigación</button>
        </div>
    </div>
  </div>
</div>
