<div class="text-center" style="margin: 25px 0;">
    <button class="btn btn-lg btn-danger animated rubberBand" ui-sref="home"><i class="glyphicon glyphicon-th"></i><br>Menu</button>
</div>

<div class="animated fadeInUp bg-primary">
    <div class="container">
        <h1>Lenguajes de Programación</h1>
        <p class="lead">En muchos de los proyectos en los que trabaje he utilizado principalmente:</p>
        <div class="row form-group">
            <img src="img/php.png" alt="php" class="icon pull-left">
            <p class="descripcion lead">PHP es un lenguaje de programación que para muchos es extremadamente flexible que sin el debido conocimiento se pueden hacer verdaderos desastres, sin embargo, utilizando un framework adecuado se pueden crear aplicaciones web.</p>
        </div>
        <div class="row form-group">
            <img src="img/javascript.png" alt="php" class="icon pull-left">
            <p class="descripcion lead">Javascript es un lenguaje en constante crecimiento que por el momento lo he utilizado en el lado del cliente, mi interes esta en seguir aprendiendo y utilizarlo en el lado del servidor con NodeJS.</p>
        </div>
    </div>
</div>

