<div class="text-center" style="margin: 25px 0;">
    <button class="btn btn-lg btn-danger animated rubberBand" ui-sref="home"><i class="glyphicon glyphicon-th"></i><br>Menu</button>
</div>

<div class="animated fadeInUp bg-success">
    <div class="container">
        <h1>Proyectos</h1>
        <p class="lead"></p>
        <div class="row form-group">
            <p class="lead">Lighthouse</p>
        </div>
        <div class="row form-group">
            <p class="lead">Preventa App</p>
        </div>
    </div>
</div>