<div class="text-center" style="margin: 25px 0;">
    <button class="btn btn-lg btn-danger animated rubberBand" ui-sref="home"><i class="glyphicon glyphicon-th"></i><br>Menu</button>
</div>

<div class="animated fadeInUp bg-dark">
    <div class="container">
        <h1>Herramientas</h1>
        <p class="lead"></p>
        <div class="row form-group">
            <img src="img/twig.jpg" alt="twig" class="icon pull-left">
            <p class="descripcion">Twig</p>
        </div>
        <div class="row form-group">
            <img src="img/jade.png" alt="jade" class="icon pull-left">
            <p class="descripcion">Jade Template Engine</p>
        </div>
        <div class="row form-group">
            <img src="img/less.png" alt="less" class="icon pull-left">
            <p class="descripcion">Less Css</p>
        </div>
        <div class="row form-group">
            <img src="img/sublime.png" alt="sublime" class="icon pull-left">
            <p class="descripcion">Sublime Text</p>
        </div>
        <div class="row form-group">
            <img src="img/git.jpg" alt="git" class="icon pull-left">
            <p class="descripcion">Git</p>
        </div>
    </div>
</div>

